.containerNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-image: linear-gradient(
    to left,
    rgb(85, 240, 85),
    rgb(99, 241, 196)
  );
  border-bottom: solid 3px rgb(0, 84, 38);
}

.categories {
  display: flex;
  align-items: center;
  gap: 5rem;
}
.categories li {
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px rgb(63, 104, 5);
  padding: 0.5rem;
  color: rgb(0, 0, 0);
  width: 200px;
  display: flex;
  justify-content: center;
  border-radius: 0.2rem;
  margin: 1rem;
  transition: 0.2s;
}

.categories li:hover {
  background-color: rgb(255, 219, 219);
  color: #000000;
  border-radius: 0.5rem;
  transform: scale(1.1);
}
